In [1613]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import datetime
from sklearn import preprocessing
sns.set()

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.head()


train.isnull().sum()

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 19 columns):
Id                    20000 non-null object
reassignment_count    20000 non-null int64
reopen_count          20000 non-null int64
update_count          20000 non-null int64
made_sla              20000 non-null bool
opened_by             19286 non-null object
opened_at             20000 non-null object
contact_type          20000 non-null object
location              19948 non-null object
category              19974 non-null object
subcategory           19944 non-null object
impact                20000 non-null object
urgency               20000 non-null object
priority              20000 non-null object
assigned_to           14591 non-null object
knowledge             20000 non-null bool
notify                20000 non-null object
vendor                6 non-null object
target_days           20000 non-null int64
dtypes: bool(2), int64(4), object(13)
memory usage: 2.6+ MB

In [1614]:
train['subcategory'].value_counts()

Subcategory 174    5528
Subcategory 223    2837
Subcategory 175    1524
Subcategory 164     962
Subcategory 9       698
                   ...
Subcategory 10        1
Subcategory 67        1
Subcategory 298       1
Subcategory 97        1
Subcategory 140       1
Name: subcategory, Length: 214, dtype: int64

In [1615]:
from datetime import datetime
train['opened_at'] = pd.to_datetime(train.opened_at)
# train['year'] = train['opened_at'].dt.year
train['month'] = train['opened_at'].dt.month
# train['day'] = train['opened_at'].dt.day
# train['dayofyear'] = train['opened_at'].dt.dayofyear
# train['weekofyear'] = train['opened_at'].dt.weekofyear
train['dayofweek'] = train['opened_at'].dt.dayofweek
# train['hour'] = train['opened_at'].dt.hour
# train['minute'] = train['opened_at'].dt.minute
# train.head()

In [1616]:
for index,row in train.iterrows():
    if(row['update_count']!=0):
        train.drop(index,inplace=True)
    if(row['vendor']=='Vendor 1' or row['vendor']=='code 8s'):
        train.drop(index,inplace=True)
#     if(row['knowledge']=='True'):
#         train.drop(index,inplace=True)
#     if(row['made_sla']=='False'):
#         train.drop(index,inplace=True)

In [1617]:
for index,row in train.iterrows(): 
    if(row['target_days']>10):
        train.drop(index,inplace=True)
for index,row in train.iterrows(): 
    if(row['target_days']<=4):
        train.drop(index,inplace=True)

In [1618]:
for index, row in train.iterrows():
    if train.loc[index,'month']==3:
        train.at[index,'month']=11
    elif train.loc[index,'month']==4:
        train.at[index,'month']=5
    elif train.loc[index,'month']==5:
        train.at[index,'month']=2
    elif train.loc[index,'month']==2:
        train.at[index,'month']=1
    else:
        train.at[index,'month']=0

In [1619]:
train.drop(['vendor'], axis=1, inplace=True)
train.drop(['reassignment_count'], axis=1, inplace=True)
train.drop(['reopen_count'], axis=1, inplace=True)
train.drop(['update_count'], axis=1, inplace=True)
# train.drop(['assigned_to'], axis=1, inplace=True)
train.drop(['opened_at'], axis=1, inplace=True)
train.drop(['Id'], axis=1, inplace=True)
train.drop(['made_sla'], axis=1, inplace=True)
train.drop(['notify'], axis=1, inplace=True)
# train.drop(['year'], axis=1, inplace=True)
train.drop(['contact_type'], axis=1, inplace=True)
# train.drop(['dayofweek'], axis=1, inplace=True)
train.drop(['impact'], axis=1, inplace=True)
train.drop(['urgency'], axis=1, inplace=True)
# train.drop(['priority'], axis=1, inplace=True)
# train.drop(['location'], axis=1, inplace=True)
train.drop(['knowledge'], axis=1, inplace=True)

train.head()

,opened_by,location,category,subcategory,priority,assigned_to,target_days,month,dayofweek
0,Opened by 8,Location 143,Category 55,Subcategory 170,3 - Moderate,NaN,5,1,0
1,Opened by 397,Location 165,Category 40,Subcategory 215,3 - Moderate,Resolver 89,6,1,0
2,Opened by 8,Location 204,Category 20,Subcategory 125,3 - Moderate,NaN,5,1,0
3,Opened by 180,Location 204,Category 9,Subcategory 97,3 - Moderate,Resolver 125,7,1,0
4,Opened by 180,Location 93,Category 53,Subcategory 168,3 - Moderate,NaN,5,1,0

In [1620]:
train[['OpBy','opby','opened_by1']] = train.opened_by.str.split(expand=True) 
train[['loc','location1']] = train.location.str.split(expand=True) 
train[['cat','category1']] = train.category.str.split(expand=True) 
train[['scat','subcategory1']] = train.subcategory.str.split(expand=True) 
train[['assg','assigned_to1']] = train.assigned_to.str.split(expand=True)

In [1621]:
# train.info()

In [1622]:
train.drop(['OpBy'], axis=1, inplace=True)
train.drop(['opby'], axis=1, inplace=True)
train.drop(['opened_by'], axis=1, inplace=True)
train['opened_by1'] = train['opened_by1'].astype(float)

train.drop(['loc'], axis=1, inplace=True)
train.drop(['location'], axis=1, inplace=True)
train['location1'] = train['location1'].astype(float)

train.drop(['cat'], axis=1, inplace=True)
train.drop(['category'], axis=1, inplace=True)
train['category1'] = train['category1'].astype(float)

train.drop(['scat'], axis=1, inplace=True)
train.drop(['subcategory'], axis=1, inplace=True)
train['subcategory1'] = train['subcategory1'].astype(float)

train.drop(['assg'], axis=1, inplace=True)
train.drop(['assigned_to'], axis=1, inplace=True)
train['assigned_to1'] = train['assigned_to1'].astype(float)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13122 entries, 0 to 19999
Data columns (total 9 columns):
priority        13122 non-null object
target_days     13122 non-null int64
month           13122 non-null int64
dayofweek       13122 non-null int64
opened_by1      12736 non-null float64
location1       13110 non-null float64
category1       13111 non-null float64
subcategory1    13109 non-null float64
assigned_to1    9570 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.6+ MB

In [1623]:
# train[['impact1','imp']] = train['impact'].str.split('-',expand=True)
# train.drop(['imp'], axis=1, inplace=True)
# train.drop(['impact'], axis=1, inplace=True)
# train['impact1'] = train['impact1'].astype(float)

# train[['urgency1','urg']] = train['urgency'].str.split('-',expand=True)
# train.drop(['urg'], axis=1, inplace=True)
# train.drop(['urgency'], axis=1, inplace=True)
# train['urgency1'] = train['urgency1'].astype(float)

train[['priority1','pri']] = train['priority'].str.split('-',expand=True)
train.drop(['pri'], axis=1, inplace=True)
train.drop(['priority'], axis=1, inplace=True)
train['priority1'] = train['priority1'].astype(float)

In [1624]:
# targetday = train.target_days[train.assigned_to== NULL]
# assign = train.assigned_to1[train.target_days==targetday]
# mapping = {i:j for i,j in zip(targetday,assign)}
# for x in mapping:
#     train.loc[train.target_days == x,'assigned_to1'] = mapping[x]

In [1625]:
train.isnull()

,target_days,month,dayofweek,opened_by1,location1,category1,subcategory1,assigned_to1,priority1
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
19994,False,False,False,False,False,False,False,False,False
19995,False,False,False,False,False,False,False,False,False
19996,False,False,False,False,False,False,False,False,False
19997,False,False,False,False,False,False,False,False,False
19999,False,False,False,False,False,False,False,True,False

In [1626]:
train['category1'].fillna(train.groupby('target_days')['category1'].transform('value_counts'), inplace=True)
train['assigned_to1'].fillna(train.groupby('target_days')['assigned_to1'].transform('value_counts'), inplace=True)
train['subcategory1'].fillna(train.groupby('target_days')['subcategory1'].transform('value_counts'), inplace=True)
train['location1'].fillna(train.groupby('target_days')['location1'].transform('value_counts'), inplace=True)
train['opened_by1'].fillna(train.groupby('target_days')['opened_by1'].transform('value_counts'), inplace=True)

In [1627]:
# train['category1']=train['category1'].fillna(46)
# train['subcategory1']=train['subcategory1'].fillna(174)
train.info

<bound method DataFrame.info of        target_days  month  dayofweek  opened_by1  location1  category1  \
0                5      1          0         8.0      143.0       55.0
1                6      1          0       397.0      165.0       40.0
2                5      1          0         8.0      204.0       20.0
3                7      1          0       180.0      204.0        9.0
4                5      1          0       180.0       93.0       53.0
...            ...    ...        ...         ...        ...        ...
19994            6      2          2        24.0      108.0       20.0
19995            5      2          2        17.0      204.0       42.0
19996            5      2          2        17.0       93.0       37.0
19997            5      2          2        24.0       97.0       42.0
19999            5      2          2        55.0      204.0       26.0

       subcategory1  assigned_to1  priority1
0             170.0         878.0        3.0
1             215.0          89.0        3.0
2             125.0         878.0        3.0
3              97.0         125.0        3.0
4             168.0         878.0        3.0
...             ...           ...        ...
19994         174.0          93.0        3.0
19995         223.0          13.0        3.0
19996         174.0          83.0        3.0
19997         223.0          17.0        3.0
19999         275.0         878.0        3.0

[13122 rows x 9 columns]>

In [1628]:
# # for index, row in train.iterrows():
# #     if(row['opened_by1']==NaN or row['location1']==NaN or row['category1']==NaN or row['subcategory1']==NaN):
# #         train.drop(index,inplace=True)
# train['assigned_to1']=train['assigned_to1'].fillna(125)
# train['opened_by1']=train['opened_by1'].fillna(180)
# train['location1']=train['location1'].fillna(93)

#rain['category1'].fillna((train['category1'].value_counts().idxmax()), inplace=True)
#train['subcategory1'].fillna((train['subcategory1'].value_counts().idxmax()), inplace=True)
# train['opened_by1'].fillna((train['opened_by1'].value_counts().idxmax()), inplace=True)
# train['location1'].fillna((train['location1'].value_counts().idxmax()), inplace=True)
# train['assigned_to1'] = train['assigned_to1'].convert_objects(convert_numeric=True).fillna(125)
#train['assigned_to1'] = train['assigned_to1'].convert_objects(convert_numeric=True).fillna(125)
# train['category1'].interpolate(method ='linear', limit_direction ='forward') 
# train['subcategory1'].interpolate(method ='linear', limit_direction ='forward') 
# train['opened_by1'].interpolate(method ='linear', limit_direction ='forward') 
# train['location1'].interpolate(method ='linear', limit_direction ='forward') 
# train['assigned_to1'].interpolate(method ='linear', limit_direction ='forward') 
# train.interpolate(method ='index', limit_direction ='forward') 
# train.interpolate(method ='index', limit_direction ='backward') 

train = train.dropna(axis = 0, how ='any')

In [1629]:
# train['RAC'] = train['opened_by1'].map(str)+""+train['location1'].map(str)+""+train['category1'].map(str)+""+train['subcategory1'].map(str)+""+train['priority1'].map(str)
# train['ROC'] = train['location1'].map(str)+""+train['category1'].map(str)+""+train['subcategory1'].map(str)+""+train['priority1'].map(str)+""+train['assigned_to1'].map(str)
# train['UC'] = train['opened_by1'].map(str)+""+train['location1'].map(str)+""+train['category1'].map(str)+""+train['subcategory1'].map(str)+""+train['assigned_to1'].map(str)

In [1630]:
# z = train['RAC'].value_counts() 
# z1 = z.to_dict() #converts to dictionary

# train['reassignment_count'] = train['RAC'].map(z1) 

# x = train['ROC'].value_counts() 
# x1 = x.to_dict() #converts to dictionary

# train['reopen_count'] = train['ROC'].map(x1) 

# y = train['UC'].value_counts() 
# y1 = y.to_dict() #converts to dictionary

# train['update_count'] = train['UC'].map(y1) 

# train.drop(['RAC'], axis=1, inplace=True)
# train.drop(['ROC'], axis=1, inplace=True)
# train.drop(['UC'], axis=1, inplace=True)

In [1631]:
# train['reassignment_count'].value_counts()

In [1632]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
labelencoder = LabelEncoder()

#train['made_sla'] = labelencoder.fit_transform(train['made_sla'])
# train['assigned_to'] = labelencoder.fit_transform(train['assigned_to'])
# train['vendor'] = labelencoder.fit_transform(train['vendor'])
# train['contact_type'] = labelencoder.fit_transform(train['contact_type'])
#train['knowledge'] = labelencoder.fit_transform(train['knowledge'])
# train['notify'] = labelencoder.fit_transform(train['notify'])

# onehot_encoder = OneHotEncoder(sparse=False)
# train = onehot_encoder.fit_transform(train)

# train = pd.get_dummies(train,prefix_sep = '_',drop_first = True)

# train.head()

In [1633]:
train.to_csv("prepros.csv")

In [1634]:
# train.corr()

In [1635]:

y = train["target_days"]

X = train.drop(["target_days"],axis=1)

In [1636]:
from sklearn.model_selection import train_test_split 

x_train , x_test, y_train, y_test = train_test_split(X,y,test_size=0.00005,random_state=42)

In [1637]:
# scaler=StandardScaler()
# X_train = scaler.fit_transform(x_train)
# X_test = scaler.transform(x_test)
X_train = x_train
X_test = x_test

In [1638]:
# from sklearn.model_selection import RandomizedSearchCV# Number of trees in random forest
# n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
# # Number of features to consider at every split
# max_features = ['auto', 'sqrt']
# # Maximum number of levels in tree
# max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
# max_depth.append(None)
# # Minimum number of samples required to split a node
# min_samples_split = [2, 5, 10]
# # Minimum number of samples required at each leaf node
# min_samples_leaf = [1, 2, 4]
# # Method of selecting samples for training each tree
# bootstrap = [True, False]# Create the random grid
# random_grid = {'n_estimators': n_estimators,
#                'max_features': max_features,
#                'max_depth': max_depth,
#                'min_samples_split': min_samples_split,
#                'min_samples_leaf': min_samples_leaf,
#                'bootstrap': bootstrap}
# print(random_grid)

In [1639]:
# # Use the random grid to search for best hyperparameters
# # First create the base model to tune
# rf = RandomForestRegressor()
# # Random search of parameters, using 3 fold cross validation, 
# # search across 100 different combinations, and use all available cores
# rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)# Fit the random search model
# rf_random.fit(X_train, y_train)

In [1640]:
# rf_random.best_params_

In [1641]:
from sklearn.ensemble import RandomForestRegressor
# from sklearn.svm import SVC
# lr = SVC(kernel = 'linear',C=1000)
lr = RandomForestRegressor(bootstrap=True,n_estimators=944,max_features='auto',min_samples_leaf=4,min_samples_split=5,max_depth=100)

lr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=100,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=4, min_samples_split=5,
                      min_weight_fraction_leaf=0.0, n_estimators=944,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [1642]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error,r2_score
y_pred= lr.predict(X_test)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
lmse = mean_squared_log_error(y_test, y_pred)
rmse = np.sqrt(mse)
lrmse = np.sqrt(lmse)
print("R2 score:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("LMSE:", lmse)
print("RMSE:", rmse)
print("LRMSE:", lrmse)

R2 score: nan
MAE: 0.0011316411342914279
MSE: 1.2806116568203895e-06
LMSE: 2.0006727050134958e-08
RMSE: 0.0011316411342914279
LRMSE: 0.0001414451379515569

/home/freakcap/anaconda3/envs/ml/lib/python3.7/site-packages/sklearn/metrics/regression.py:543: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [1643]:
# test.isnull().sum()

In [1644]:
from datetime import datetime
test['opened_at'] = pd.to_datetime(test.opened_at)
# test['year'] = test['opened_at'].dt.year
test['month'] = test['opened_at'].dt.month
# test['day'] = test['opened_at'].dt.day
# test['dayofyear'] = test['opened_at'].dt.dayofyear
# test['weekofyear'] = test['opened_at'].dt.weekofyear
test['dayofweek'] = test['opened_at'].dt.dayofweek
# test['hour'] = test['opened_at'].dt.hour
# test['minute'] = test['opened_at'].dt.minute
# test.head()

In [1645]:
for index, row in test.iterrows():
    if test.loc[index,'month']==3:
        test.at[index,'month']=11
    elif test.loc[index,'month']==4:
        test.at[index,'month']=5
    elif test.loc[index,'month']==5:
        test.at[index,'month']=2
    elif test.loc[index,'month']==2:
        test.at[index,'month']=1
    else:
        test.at[index,'month']=0

In [1646]:
Id = test['Id']

test.drop(['vendor'], axis=1, inplace=True)
test.drop(['reassignment_count'], axis=1, inplace=True)
test.drop(['reopen_count'], axis=1, inplace=True)
test.drop(['update_count'], axis=1, inplace=True)
# test.drop(['assigned_to'], axis=1, inplace=True)
test.drop(['opened_at'], axis=1, inplace=True)
test.drop(['Id'], axis=1, inplace=True)
test.drop(['made_sla'], axis=1, inplace=True)
test.drop(['notify'], axis=1, inplace=True)
# test.drop(['year'], axis=1, inplace=True)
test.drop(['contact_type'], axis=1, inplace=True)
# test.drop(['dayofweek'], axis=1, inplace=True)
test.drop(['knowledge'], axis=1, inplace=True)
# test.drop(['location'], axis=1, inplace=True)
test.drop(['impact'], axis=1, inplace=True)
test.drop(['urgency'], axis=1, inplace=True)

test.head()

,opened_by,location,category,subcategory,priority,assigned_to,month,dayofweek
0,Opened by 301,Location 161,Category 9,Subcategory 164,3 - Moderate,Resolver 249,2,2
1,Opened by 501,Location 93,Category 23,Subcategory 174,3 - Moderate,Resolver 233,2,2
2,Opened by 24,Location 161,Category 32,Subcategory 9,3 - Moderate,Resolver 219,2,2
3,Opened by 24,Location 143,Category 57,Subcategory 170,3 - Moderate,Resolver 7,2,2
4,Opened by 17,Location 204,Category 57,Subcategory 146,3 - Moderate,Resolver 76,2,2

In [1647]:
test[['OpBy','opby','opened_by1']] = test.opened_by.str.split(expand=True) 
test[['loc','location1']] = test.location.str.split(expand=True) 
test[['cat','category1']] = test.category.str.split(expand=True) 
test[['scat','subcategory1']] = test.subcategory.str.split(expand=True) 
test[['assg','assigned_to1']] = test.assigned_to.str.split(expand=True)

In [1648]:
test.drop(['OpBy'], axis=1, inplace=True)
test.drop(['opby'], axis=1, inplace=True)
test.drop(['opened_by'], axis=1, inplace=True)
test['opened_by1'] = test['opened_by1'].astype(float)

test.drop(['loc'], axis=1, inplace=True)
test.drop(['location'], axis=1, inplace=True)
test['location1'] = test['location1'].astype(float)

test.drop(['cat'], axis=1, inplace=True)
test.drop(['category'], axis=1, inplace=True)
test['category1'] = test['category1'].astype(float)

test.drop(['scat'], axis=1, inplace=True)
test.drop(['subcategory'], axis=1, inplace=True)
test['subcategory1'] = test['subcategory1'].astype(float)

test.drop(['assg'], axis=1, inplace=True)
test.drop(['assigned_to'], axis=1, inplace=True)
test['assigned_to1'] = test['assigned_to1'].astype(float)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 8 columns):
priority        4918 non-null object
month           4918 non-null int64
dayofweek       4918 non-null int64
opened_by1      4918 non-null float64
location1       4918 non-null float64
category1       4905 non-null float64
subcategory1    4905 non-null float64
assigned_to1    3187 non-null float64
dtypes: float64(5), int64(2), object(1)
memory usage: 307.5+ KB

In [1649]:
# test[['impact1','imp']] = test['impact'].str.split('-',expand=True)
# test.drop(['imp'], axis=1, inplace=True)
# test.drop(['impact'], axis=1, inplace=True)
# test['impact1'] = test['impact1'].astype(float)

# test[['urgency1','urg']] = test['urgency'].str.split('-',expand=True)
# test.drop(['urg'], axis=1, inplace=True)
# test.drop(['urgency'], axis=1, inplace=True)
# test['urgency1'] = test['urgency1'].astype(float)

test[['priority1','pri']] = test['priority'].str.split('-',expand=True)
test.drop(['pri'], axis=1, inplace=True)
test.drop(['priority'], axis=1, inplace=True)
test['priority1'] = test['priority1'].astype(float)

In [1650]:
test['category1'].fillna(test.groupby('location1')['category1'].transform('value_counts'), inplace=True)
test['assigned_to1'].fillna(test.groupby('location1')['assigned_to1'].transform('value_counts'), inplace=True)
test['subcategory1'].fillna(test.groupby('location1')['subcategory1'].transform('value_counts'), inplace=True)

In [1651]:
#\test['category1'].fillna((test['category1'].value_counts().idxmax()), inplace=True)
#test['subcategory1'].fillna((test['subcategory1'].value_counts().idxmax()), inplace=True)
#test['opened_by1'].fillna((test['opened_by1'].value_counts().idxmax()), inplace=True)
#test['location1'].fillna((test['location1'].value_counts().idxmax()), inplace=True)
# test['assigned_to1']=test['assigned_to1'].fillna(125)
# test['opened_by1']=test['opened_by1'].fillna(180)
# test['location1']=test['location1'].fillna(93)

In [1652]:
# test['RAC'] = test['opened_by1'].map(str)+""+test['location1'].map(str)+""+test['category1'].map(str)+""+test['subcategory1'].map(str)+""+test['priority1'].map(str)
# test['ROC'] = test['location1'].map(str)+""+test['category1'].map(str)+""+test['subcategory1'].map(str)+""+test['priority1'].map(str)+""+test['assigned_to1'].map(str)
# test['UC'] = test['opened_by1'].map(str)+""+test['location1'].map(str)+""+test['category1'].map(str)+""+test['subcategory1'].map(str)+""+test['assigned_to1'].map(str)

In [1653]:
# z = test['RAC'].value_counts() 
# z1 = z.to_dict() #converts to dictionary

# test['reassignment_count'] = test['RAC'].map(z1) 

# x = test['ROC'].value_counts() 
# x1 = x.to_dict() #converts to dictionary

# test['reopen_count'] = test['ROC'].map(x1) 

# y = test['UC'].value_counts() 
# y1 = y.to_dict() #converts to dictionary

# test['update_count'] = test['UC'].map(y1) 

# test.drop(['RAC'], axis=1, inplace=True)
# test.drop(['ROC'], axis=1, inplace=True)
# test.drop(['UC'], axis=1, inplace=True)

In [1654]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 8 columns):
month           4918 non-null int64
dayofweek       4918 non-null int64
opened_by1      4918 non-null float64
location1       4918 non-null float64
category1       4918 non-null float64
subcategory1    4918 non-null float64
assigned_to1    4918 non-null float64
priority1       4918 non-null float64
dtypes: float64(6), int64(2)
memory usage: 307.5 KB

In [1655]:
# test['category1']=test['category1'].fillna(46)
# test['subcategory1']=test['subcategory1'].fillna(174)

In [1656]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder
# labelencoder = LabelEncoder()

#test['made_sla'] = labelencoder.fit_transform(test['made_sla'])
# test['contact_type'] = labelencoder.fit_transform(test['contact_type'])

# train['assigned_to'] = labelencoder.fit_transform(train['assigned_to'])
# train['vendor'] = labelencoder.fit_transform(train['vendor'])
#test['knowledge'] = labelencoder.fit_transform(test['knowledge'])
# test['notify'] = labelencoder.fit_transform(test['notify'])

# test = onehot_encoder.fit_transform(test)
# test = pd.get_dummies(test,prefix_sep = '_',drop_first = True)

test.head()

,month,dayofweek,opened_by1,location1,category1,subcategory1,assigned_to1,priority1
0,2,2,301.0,161.0,9.0,164.0,249.0,3.0
1,2,2,501.0,93.0,23.0,174.0,233.0,3.0
2,2,2,24.0,161.0,32.0,9.0,219.0,3.0
3,2,2,24.0,143.0,57.0,170.0,7.0,3.0
4,2,2,17.0,204.0,57.0,146.0,76.0,3.0

In [1657]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 8 columns):
month           4918 non-null int64
dayofweek       4918 non-null int64
opened_by1      4918 non-null float64
location1       4918 non-null float64
category1       4918 non-null float64
subcategory1    4918 non-null float64
assigned_to1    4918 non-null float64
priority1       4918 non-null float64
dtypes: float64(6), int64(2)
memory usage: 307.5 KB

In [1658]:
# scaler=StandardScaler()
# test = scaler.fit_transform(test)

In [1659]:
prediction_test=lr.predict(test)

In [1660]:
prediction_test=prediction_test.astype(int)

In [1661]:
my_solution=pd.DataFrame(prediction_test,Id,columns=["target_days"])
print(my_solution.shape)

(4918, 1)

In [1662]:
my_solution.to_csv("prediction21.csv",index_label=["Id"])

In [1663]:
my_solution.shape

(4918, 1)

In [1664]:
my_solution['target_days'].value_counts()

5    3563
6    1175
7     162
8      17
9       1
Name: target_days, dtype: int64